<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(content=~{:: mycontent})}">
<body>
<div id="content" th:fragment="mycontent">
    <div class="container mt-5" th:if="${all_submissions.size() != 0}">
        <h4>Alle Zusammenfassungen</h4>
        <table class="table">
            <thead class="thead-dark">
            <th scope="col">Meetup</th>
            <th scope="col">MinIo Link</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Aktion</th>
            </thead>
            <tbody>
            <tr th:each="submission : ${all_submissions}">
                <td><a th:href="@{${submission.eventLink}}"><span th:text="${submission.eventTitle}"></span></a>
                </td>
                <td><a th:href="@{${submission.minIoLink}}"><span>Ansehen</span></a>
                </td>
                <td><span th:text="${submission.name}"></span></td>
                <td><span th:text="${submission.accepted}? 'Akzeptiert': 'Ausstehend'"></span></td>
                <td>
                    <form method="POST" th:action="@{/admin/submissions/accept/{id}(id=${submission.id})}">
                        <button th:if="${!submission.accepted}" type="submit" name="submit" value="value"
                                class="card-link">akzeptieren
                        </button>
                        <button th:unless="${!submission.accepted}" type="button" disabled>akzeptiert</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container mt-5" th:unless="${all_submissions.size() != 0}">
        <p>Zurzeit gibt es keine Abgaben zum kontrollieren.</p>
    </div>
</div>
</body>
</html>
