<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(content=~{:: mycontent})}">
<head>
    <meta charset="utf-8">
</head>
<body>
<div id="content" class="container mt-3" th:fragment="mycontent">
    <h3 th:text="'Veranstaltung: ' + ${event.name}">Veranstaltung:</h3>
    <br>
    <p>Hier kannst Du Zusammenfassungen von Studierenden hochladen, indem Du Benutzername und Email der/des Studierenden
        angibst.</p>
    <br>
    <div>
        <h5>Achtung!</h5>
        Es gibt keine Überprüfung, ob der oder die Studierende mit den angegebenen Daten existiert. Stelle also sicher,
        dass richtige Angaben gemacht werden, damit der oder die Studierende eine Quittung erstellen kann!
    </div>
    <br>
    <form enctype="multipart/form-data"
          th:action="@{/admin/submissions/upload/{meetup_id}(meetup_id=${event.id})}" method="POST">
        <div class="input-group mt-3 mb-1">
            <input type="text" id="name" class="mr-1" name="name" required>
            <label class="input-group-text" for="name">Benutzername</label>
        </div>
        <div class="input-group mt-1 mb-2">
            <input type="text" id="email" class="mr-1" name="email" required>
            <label class="input-group-text" for="email">Email</label>
        </div>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="file" name="file" required>
            <label class="custom-file-label" for="file" data-browse="Durchsuchen">Datei auswählen</label>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary" value="Hochladen">Hochladen</button>
        </div>
    </form>
    <script> //Pfad kuerzen
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</div>

</body>
</html>



