<!DOCTYPE html>
<html lang="de"
      th:replace="~{mopslayout :: html(name='Java in der Praxis', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Java in der Praxis</title>
    <th:block th:fragment="headcontent">
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              rel="stylesheet">
        <style>
             ul {
                padding: 0;
                list-style: none;
             }
             .inputForm {
                padding: 1rem;
                border:3px solid black;
                border-color: #F1F1F1;
                border-radius: 10px;
                }

                .input-group {
                padding: 1rem;
                border: 1px solid black;
                border-color: #F1F1F1;
                border-radius: 10px;
                margin-bottom: 1rem;
                }
        </style>
        
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-dark" href="/rheinjug1/">Quittungen hochladen<span
                    class="sr-only">(current)</span></a>
            </li>
            <div>
                <!-- th:switch="${user}" / th:case="" / oder th:if="${param.error}"-->
            </div>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                <form enctype="multipart/form-data" method="post" th:object="${input}">

                    <div class="alert alert-success alert-dismissible fade show" th:if="*{getFirstRheinjugReceiptUploadMessage()[0]} == VALIDE">
                        <strong>Erfolgreich!</strong> Die Quittung wurde erfolgreich hochgeladen und verifiziert.
                    </div>

                    <div class="alert alert-danger alert-dismissible fade show" th:if="*{firstRheinjugReceiptUploadMessage} != VALIDE">
                        <strong>Fehler!</strong> Die hochgeladene Quittung ist nicht gültig.
                    </div>

                    <h3 style="padding-bottom: 50px">Quittungen hochladen</h3>

                    <div class="inputForm">
                        <div class="form-group">
                            <p>Bitte laden sie hier ihre Quittungen hoch:</p>
                            <label for="matrikel">Matrikel-Nummer</label>
                            <input class="form-control" placeholder="Matrikel-Nummer" required th:field="*{matrikelNummer}" type="number" id="matrikel">
                        </div>

                        <div class="form-group">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <label for="input1">Rheinjug1</label>
                                        <input class="form-control" id="input1" th:field="*{firstRheinjugReceipt}"
                                               name="newReceipt" type="file" placeholder='Choose a file...'/>
                                    </div>
                                </div>
                                <div class="input-group">

                                    <div class="custom-file">
                                        <label for="input1">Rheinjug2</label>
                                        <input class="form-control" id="input2" th:field="*{seccondRheinjugReceipt}"
                                               type="file">
                                    </div>
                                </div>
                                <div class="input-group">

                                    <div class="custom-file">
                                        <label for="input1">Rheinjug3</label>
                                        <input class="form-control" id="input3" th:field="*{thirdRheinjugReceipt}"
                                               type="file">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <br>
                                    <div class="custom-file">
                                        <label for="input1">Entwickelbar</label>
                                        <input class="form-control" id="input4" th:field="*{entwickelbarReceipt}"
                                               type="file">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Einlösen</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="container">
                <img src=../static/images/eminem.jpg alt="eminem" th:src="@{/img/eminem.jpg}" style="width:90%;height:auto;">
            </div>
        </div>
    </div>

</main>
</body>
</html>