<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(content=~{:: mycontent})}">
<body>
<div id="content" th:fragment="mycontent">
    <h3 style="padding-bottom: 10px">Statistiken</h3>

            <div class="card" style="width:100%;height:45%;">
                <img src="..\..\..\images\Entwickelbarpng.png"
                     class="card-img-top" alt="Card image cap" style="width:90%;height:200px;">
                <div class="card-body">
                    <h5 class="card-title">Ausgestellte Scheine durch Entwickelbar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Insgesamt</h6>
                    <h4 th:text="${numberEntwickelbarReceipts}">5</h4>
                    <a href="" class="btn btn-primary">aktualisieren</a>
                </div>
            </div>


            <div class="card">
                <img src="..\..\..\images\Rheinjug.png"
                     class="card-img-top" alt="Card image cap" style="width:90%;height:200px;">
                <div class="card-body">
                    <h5 class="card-title">Ausgestellte Scheine durch Rheinjug</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Insgesamt</h6>
                    <h4 th:text="${numberRheinjugReceipts}">5</h4>
                    <a href="" class="btn btn-primary">aktualisieren</a>
                </div>
            </div>
        

</div>

</body>
</html>