<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Name des Subsystems', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
  <meta charset="utf-8">
  <title>Name des Subsystems</title>
  <th:block th:fragment="headcontent">
    <style>
#drop_zone {
    background-color: #EEE; 
    border: #999 5px dashed;
    width: 290px; 
    height: 200px;
    padding: 8px;
    font-size: 18px;
}
</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </th:block>
</head>
<body>
  <header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
      <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
  </header>
  <main th:fragment="bodycontent">
    <h2>talk</h2>
    
    
    
    <div class = container>
      <form enctype="multipart/form-data" method="post" th:object="${summaryForm}">
        <div ><!-- style="border-style: dotted; width: 100%; margin-bottom: 10px" -->
          <input name="summary" th:field="*{summary}" id="drop_zone"  type="file" ><!--style="width: 100%; opacity: 0.5;" > <br>-->
        </div>
        <div>
          <button type="submit">hochladen</button>
        </div>
      </form>
  </div>
  
  </main>
</body>
</html>

