<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(name='Java in der Praxis', headcontent=~{:: headcontent}, content=~{:: mycontent})}">
<head>
    <meta charset="utf-8">
    <title>Java in der Praxis</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </th:block>
</head>
<body>

<div id="content" th:fragment="mycontent">
    <div class="container">
        <h3>Willkommen bei Java in der Praxis!</h3>
        <p class="mt-5">Über diese Seite besteht die Möglichkeit sich für verschiedene Projekte von Rheinjug und
            Entwickelbar anzumelden und sich so im Bereich der Informatik weiterzubilden. .... </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="mt-5">
                    <ol>
                        <li class="my-4">Für Veranstaltung anmelden</li>
                        <li class="my-4">Veranstaltung besuchen und notizen machen</li>
                        <li class="my-4">Zusammenfassung schreiben und abgeben</li>
                        <li class="my-4">Creditpoints erhalten 😊</li>
                    </ol>
                </div>
            </div>
            <div class="col-md">
                <img src="https://cdn.pixabay.com/photo/2015/09/04/19/32/landscape-922581_1280.png"
                     class="img-fluid rounded mx-auto" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="container my-3">
    	<div class="row my-4">
    		<div class="col">
    			<h4>Kommende Veranstaltungen</h4>
    		</div>
    		<div class="col">
    			<div class="float-right">
    				<a href="/update">  <!-- Hardcoding -->
    					<button type="button" class="btn btn-default">
  							<i class="fas fa-redo-alt"></i>
						</button>
    				</a>
    			</div>
    		</div>
    	</div>
        <table class="w3-table">
            <tbody th:each="event : ${events}">
            <tr>
                <div class="card">
                    <span class="card-header">
                        <a th:text="${event.name}" class="collapsed d-block" data-toggle="collapse" th:attr="data-target='#demo' + ${event.id}" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                            <i th:class="fa fa-chevron-down pull-right"></i>
                            Collapsible Group Item #1
                        </a>
                    </span>
                    <div th:id="'demo' + ${event.id}" class="collapse" aria-labelledby="heading-collapsed">
                        <div class="card-body"><h5>Wann?</h5><div th:text="${event.zonedDateTime}">1</div></div>
                        <div class="card-body"><h5>Wie lang?:</h5><div th:text="${event.duration} + 'h'">2</div></div>
                        <div class="card-body"><h5>Bei meetup anmelden:</h5><a th:href="@{${event.link}}"><div th:text="${event.link}">Link</div></a></div>
                        <div class="card-body" th:utext="${event.description}">3</div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>