<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Java in der Praxis', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
  <meta charset="utf-8">
  <title>Java in der Praxis</title>
  <th:block th:fragment="headcontent">
  <style>
#drop_zone {
    background-color: #EEE; 
    border: #999 5px dashed;
    width: 290px; 
    height: 200px;
    padding: 8px;
    font-size: 18px;
}
</style>
<script>
function drag_drop(event, summaryForm) {
	alert(event.dataTransfer.files[0]);
    alert(event.dataTransfer.files[0].name);
    alert(event.dataTransfer.files[0].size+" bytes");
	summaryForm.summary = event.dataTransfer.files[0];
    /*event.preventDefault();
    alert(event.dataTransfer.files[0]);
    alert(event.dataTransfer.files[0].name);
    alert(event.dataTransfer.files[0].size+" bytes");
    var file = _("file1").files[0];
    summaryForm.append("summary", file);
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "file_upload_parser.php");
	ajax.send(summaryForm);
	
    //uploadFile(summary);	   
}
function uploadFile(var summary){
	/*var file = _("file1").files[0];
	alert(file.name+" | "+file.size+" | "+file.type);
	
	var formdata = new FormData();
	formdata.append("file1", file);
	//uploadSummary(file);
	var ajax = new XMLHttpRequest();
	// ajax.upload.addEventListener("progress", progressHandler, false);
	//ajax.addEventListener("load", completeHandler, false);
	//ajax.addEventListener("error", errorHandler, false);
	//ajax.addEventListener("abort", abortHandler, false);
	ajax.open("POST", "http://localhost:8080/");
	ajax.send(formdata);
	ajax*/
}
</script>
    <!-- Links, Skripts, Styles hier einfügen! -->
  </th:block>
</head>
<body>
<header>
  <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
    <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
  </nav>
</header>
<main th:fragment="bodycontent">

  

</main>
</body>
</html>
