<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(content=~{:: mycontent})}">
<body>
<div id="content" th:fragment="mycontent">
  <h2>talk</h2>
  <div class = container>
    <form enctype="multipart/form-data" method="post" th:object="${summaryForm}">
      <div ><!-- style="border-style: dotted; width: 100%; margin-bottom: 10px" -->
        <input name="summary" th:field="*{summary}" id="drop_zone"  type="file" ><!--style="width: 100%; opacity: 0.5;" > <br>-->
      </div>
      <div>
        <button type="submit">hochladen</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
