<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Java in der Praxis', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
  <meta charset="utf-8">
  <title>Java in der Praxis</title>
  <th:block th:fragment="headcontent">
    <!-- Links, Skripts, Styles hier einfügen! -->
  </th:block>
</head>
<body>
<header>
  <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
    <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
  </nav>
</header>
<main th:fragment="bodycontent">


  <h2>Vorträge</h2>
   <table>
    <thead>
    <th>Produkt</th>
    <th>Anzahl</th>
    <th>Preis</th>
    <th>Summe</th>
    </thead>
    <tbody> 
      <tr> 
        <td>Bier</td>
        <td>3</td>
        <td>1,20 Euro</td>
        <td>3,60 Euro</td>
       </tr>

    </tbody>
  </table>


</main>
</body>
</html>