<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(content=~{:: mycontent})}">
<body>
<div id="content" th:fragment="mycontent">
    <div class="error" th:if="${upload_error != ''}">
            <span th:text="${upload_error}">
            </span>
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data"
              th:action="@{/upload/{meetup_id}(meetup_id=${meetup_id})}">
            <table>
                <tr>
                    <td>Zusammenfassung:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="submit" id="uploadButton" value="Hochladen" class="bt
                        n">hochladen
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
